<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <small>Flatastically Awesome Shopping List</small>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item *ngFor="let item of shoppingItems" [ngClass]="{'itemDone': item.checked}">
      <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>

      <ion-label>{{item.label}}</ion-label>
      <ion-avatar *ngIf="item.priceEstimates && item.priceEstimates[0].name" item-end>
        <img [src]="item.priceEstimates[0].imageUrl">
      </ion-avatar>
      <ion-label *ngIf="item.priceEstimates && item.priceEstimates[0].name">
        <p>{{item.priceEstimates[0].name}}</p>
        <p><b>{{item.priceEstimates[0].price}} €</b></p>
      </ion-label>

      <ion-spinner name="crescent" item-end *ngIf="!item.priceEstimates"></ion-spinner>
      <ion-label name="crescent" item-end *ngIf="!item.priceEstimates" class="priceEstimate">
        <p>Getting price estimate...</p>
      </ion-label>

      <!--<ion-label><small>{{item.priceEstimate}}</small></ion-label>-->
      <!--<p *ngIf="item.priceEstimates">{{item.priceEstimates[0].name}}</p>-->
      <!--<ion-avatar *ngIf="item.priceEstimates && item.priceEstimates[0].name" item-end>-->
        <!--<img src="img/avatar-finn.png">-->
      <!--</ion-avatar>-->
    </ion-item>

    <ion-item>
      <ion-checkbox disabled="true"></ion-checkbox>
      <ion-input placeholder="Type here to add one more ..."
                 [(ngModel)]="newShoppingItem.label"
                 (keyup.enter)="newShoppingItem.label && addItem(newShoppingItem)">
      </ion-input>
      <button *ngIf="newShoppingItem.label" (click)="addItem(newShoppingItem)" icon-start ion-button item-end>
        <ion-icon name="add"></ion-icon>
        Add
      </button>
    </ion-item>


  </ion-list>

</ion-content>
