page-shopping-list {
  .itemDone {
    ion-checkbox {

    }
    ion-label {
      text-decoration: line-through;
      color: color($colors, inactive);
    }
  }
  ion-label.priceEstimate.label {
    p {
      text-align: right;
      font-size: 10px;
    }
  }
  .item.item-md .checkbox-md {
    margin-right: 15px;
  }
}
