<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <small>Flatastically Awesome Shopping List</small>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item *ngFor="let item of shoppingItems" [ngClass]="{'itemDone': item.checked}">
      <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
      <ion-label>{{item.label}}</ion-label>
      <ion-label><small>{{item.priceEstimate}}</small></ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox disabled="true"></ion-checkbox>
      <ion-input placeholder="Type here to add one more ..."
                 [(ngModel)]="newShoppingItem.label"
                 (keyup.enter)="newShoppingItem.label && addItem(newShoppingItem)">
      </ion-input>
      <button *ngIf="newShoppingItem.label" (click)="addItem(newShoppingItem)" icon-start ion-button item-end>
        <ion-icon name="add"></ion-icon>
        Add
      </button>
    </ion-item>


  </ion-list>
  {{products?.products[0] | json }}
  {{products?.products[0].price | json }}
  {{products?.products[0].name | json }}

</ion-content>
