<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><small>Flatastically Awesome Shopping List</small></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item *ngFor="let item of shoppingItems">
      <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
      <ion-label>{{item.label}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox disabled="true"></ion-checkbox>
      <ion-input placeholder="Type here to add one more ..." [(ngModel)]="newShoppingItem.label"></ion-input>
      <button right *ngIf="newShoppingItem.label" (click)="addItem(newShoppingItem)">
        <ion-icon>+</ion-icon>
      </button>
    </ion-item>

    <button ion-button *ngIf="newShoppingItem.label" (click)="addItem(newShoppingItem)">
      Add this item
    </button>


  </ion-list>

</ion-content>
